@page
@using NuGet.Protocol
@using Intervals= Shared.Models.IntervalListModel;
@model Intervals

@{
    ViewData["Title"] = "Intervals";
}
@if(Model.Intervals.Count == 0)
{
    <b>No intervals found.</b>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Interval Type</th>
                <th>Min MYA</th>
                <th>Max MYA</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var interval in Model.Intervals)
            {
                <tr>
                    <td>@interval.IntervalNo</td>
                    <td>@interval.IntervalName.</td>
                    <td>@interval.RecordType</td>
                    <td>@interval.MinMya</td>
                    <td>@interval.MaxMya</td>
                </tr>
            }
        </tbody>
    </table>
}
